<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.berhane.biniam.wallpack.wallpack">
    <!--Asking the permission for the app to perform as intended -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- unsplsh://wallpack.com -->

    <application
        android:name=".utils.WallPack"
        android:allowBackup="false"
        android:allowTaskReparenting="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WallPackTheme_light.TranslucentNavigation.Main"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FeaturedActivity" />
        <activity
            android:name=".activities.PhotoDetails"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".activities.CollectionActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.biniam.berhane.wallpack.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.PhotographerActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/WallPackTheme_light" />
        <activity
            android:name=".activities.CollectionDetailsActivity"
            android:parentActivityName=".activities.CollectionActivity"
            android:theme="@style/WallPackTheme_light.TranslucentNavigation.Collection" />
        <activity
            android:name=".activities.SearchPhotos"
            android:label="@string/title_activity_search__photos"
            android:theme="@style/WallPackTheme_light.TranslucentNavigation.Main" />
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="wallpack.com"
                    android:scheme="unsplsh" />
            </intent-filter>
        </activity>
    </application>

</manifest>